{% extends 'baseModal.html' %}
{% include 'uiMacros.html' %}
{% include 'snippetMacros.html' %}

{% block modalClass %}
  apos-person-apply apos-ui-modal-no-sidebar
{% endblock %}

{% block modalLabel %}
  {{ __('Sign Up For An Account') }}
{% endblock %}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-save', float: 'right', color: 'base', label: __('Sign Up')}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', arrow: 'left', label: __('Cancel')}) }}
{% endblock %}

{% block modalBody %}
  <form>
    {{ snippetAllFields(fields) }}
    {# {% block afterPassword %}

    {% endblock %} }
    <div class="apos-suggested-password" data-suggested-password>{{ __('Your suggested password is: %s', '<span data-suggestion class="apos-suggestion">__('js populates me')</span>') }}</div>
    {{ snippetAllFields(fields, { after: 'password' }) }#}
  </form>
{% endblock %}
