{% extends 'baseModal.html' %}
{% include 'uiMacros.html' %}
{% include 'snippetMacros.html' %}

{% block modalClass %}
  apos-people-login-or-apply apos-ui-modal-no-sidebar
{% endblock %}

{% block modalLabel %}
  {{ __('You need an account to do that') }}
{% endblock %}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-apply', float: 'right', color: 'base', label: __('Set up an account')}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', arrow: 'left', label: __('Never Mind')}) }}
{% endblock %}

{% block modalBody %}
  <div class="apos-modal-body">
    <h4>
      {{ __('Please register for an account first. If you already have one, <a href="/login">log in here</a>.') }}
    </h4>
  </div>
{% endblock%}
