{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template apos-people-login-or-apply">
  <div>
    <h3>{{ __('You need an account to do that') }}</h3>

    <div class="apos-modal-body">
      <h4>{{ __('Don't worry, it only takes a moment to get an account! If you already have one, please <a href="/login">log in here</a>.') }}</h4>
    </div>

    <div class="apos-modal-footer">
      <form>
        <a href="#" class="apos-control apos-signup apos-button" data-apply>{{ __('Sign Up') }}</a>
        <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">{{ __('Never Mind') }}</a>
      </form>
    </div>
  </div>
</div>
