{% if edit %}

<ul class="apos-admin-bar-item apos-accordion-menu">
  <li class="apos-accordion-title"><i class="icon-doc"></i>People</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      <li href="#" class="apos-control apos-accordion-item apos-button apos-new-button apos-new-snippet-button apos-new-person-button" data-new-person>New Person</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-manage-button apos-manage-person-button" data-manage-person>Manage People</li>
    </ul>
  </li>
</ul>

{% endif %}
