{% include 'snippetMacros.html' %}
<div class="apos-modal apos-template {% block class %}apos-new-person{% endblock %}">
  <h3>{% block label %}New Person{% endblock %}</h3>
  {% block topButtons %}
  {% endblock %}
  <div class="apos-modal-body">
    <form>
      {# We use CSS-style names (with hyphens) for fields in forms since #}
      {# forms don't support mixed case and we have apos.cssName to convert them #}
      {{ snippetText('first-name', 'First Name') }}
      {{ snippetText('last-name', 'Last Name') }}
      {# title is universal across all snippets and should be the person's full name as #}
      {# they prefer to see it online. Please use 'jobTitle' if you need a property for #}
      {# someone's position at work #}
      {{ snippetText('title', 'Name') }}

      <div class="apos-login-group">
        {{ snippetBoolean('login', 'Can Log In') }}
        {{ snippetText('username', 'Username') }}
        <div class="apos-suggested-password" data-suggested-password>This user's default password is: <span data-suggestion class="apos-suggestion">js populates me</span></div>
        {{ snippetPassword('password', 'Password') }}
        {% block afterPassword %}{% endblock %}
      </div>

      {# Slugs become editable later, allow the edit template to add them here #}
      {% block slug %}{% endblock %}
      {{ snippetText('tags', 'Tags (comma-separated)') }}
      {{ snippetEmail('email', 'Email') }}
      {{ snippetEmail('phone', 'Phone') }}

      {{ snippetBoolean('published', 'Profile Published') }}
      {# The real work for these is in main.js, just get placeholders into the form #}
      {{ snippetSingleton('thumbnail', 'Thumbnail') }}
      {{ snippetArea('body', 'Bio') }}
    </form>
  </div>
  {% block buttons %}
  {{ snippetNewButtons() }}
  {% endblock %}
</div>
