{% extends 'newBase.html' %}
{% block insideForm %}

  {{ snippetAllFields(fields, { to: 'password' }) }}
  {% block afterPassword %}
    <div class="apos-suggested-password" data-suggested-password>This user's default password is: <span data-suggestion class="apos-suggestion">js populates me</span></div>
  {% endblock %}
  {{ snippetAllFields(fields, { after: 'password' }) }}

  <div class="apos-person-read-only-groups">
    <h4>Groups</h4>
    <p>Edit this user's group memberships by editing the groups in question.</p>
    <ul data-groups class="apos-person-groups">
      <li data-group class="apos-template apos-person-group"><span class="apos-person-group-name" data-name>Group Name</span><span class="apos-person-job-title" data-job-title>Job Title</span></li>
    </ul>
  </div>
{% endblock %}
