{% extends 'baseModal.html' %}
{% include 'uiMacros.html' %}
{% include 'formMacros.html' %}

{% block modalClass %}{{ super() }} apos-password-editor{% endblock%}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-save', float: 'right', color: 'base', label: 'Save Changes'}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', label: 'Cancel', arrow: 'left'}) }}
{% endblock %}

{% block modalLabel %}
  {{ __('Change Password') }}
{% endblock%}

{% block modalInstructions %}
  <p>{{ __('Please provide your current password and verify your new password.') }}</p>
{% endblock %}

{% block modalBody %}
  <form>
    {{ formPassword('oldPassword', 'Old Password') }}
    {{ formPassword('newPassword', 'New Password') }}
    {{ formPassword('confirmPassword', 'Confirm Password') }}
  </form>
{% endblock %}
