{% extends 'baseModal.html' %}
{% include 'uiMacros.html' %}
{% include 'snippetMacros.html' %}

{% block modalClass %}
  apos-person-profile apos-ui-modal-no-sidebar apos-ui-modal-has-tabs
{% endblock %}

{% block modalLabel %}
  {{ __('My Profile') }}
{% endblock %}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-save', float: 'right', color: 'base', label: __('Save')}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', arrow: 'left', label: __('Cancel')}) }}
{% endblock %}

{% block modalBody %}
  <form>
    {{ snippetAllFields(fields) }}
  </form>
{% endblock %}
